$black: #000000;
$black_60: rgba(#000000, 0.6);
$black_30: rgba(#000000, 0.3);
$black_25: rgba(#000101, 0.25);
$black_10: rgba(#000000, 0.1);
$white: #ffffff;
$white_90: rgba(#ffffff, 0.9);

//-background
$bg: #f9f9f9;
$bg-footer: #f1f1f1;

//Left and right green btn
$greeny: #63d1bb;
$greeny_light: #59d5bc;
$green: #56c3b2;
$green_light: #46c1ae;
//form element
$green_deep: #62d1ba;

//Ghost btn
$greyish_brown: #444444;
$greyish_brown_10: rgba(#444444, 0.1);
$greyish_brown_30: rgba(#444444, 0.3);

//border
$whitetwo: #ececec;
$grey: #cccccc;
$grey_light: #c6c6c6;
