.about__header {
	font-size: 25px;
	line-height: 30px;
	font-family: $fonts_bold;
	margin-bottom: 30px;
}
.about__item {
	font-size: 17px;
	line-height: 20px;
	font-family: $fonts_bold;
	margin-bottom: 30px;
}