.header-catalog {
	background-color: $bg-footer;
	font-family: $fonts_bold;
	padding-top: 90px;
	padding-bottom: 70px;
	text-align: center;
	margin-bottom: 30px;
}

.header-catalog__item {
	font-size: 27px;
	line-height: 30px;
}