.inp-text {
  @media (min-width: $tablet-width) {
    width: 75%;
  }
}

.inp-text__item {
  margin-bottom: 25px;
  position: relative;

  @media (min-width: $tablet-width) {
    display: flex;
    align-items: baseline;
    margin-bottom: 41px;
  }

  &--phone,
  &--mail {
    &::after {
      content: "";
      width: 25px;
      height: 24px;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      background-image: url("../img/icon-phone.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: auto 100%;
      opacity: 0.2;
    }
  }

  &--mail {
    @media (min-width: $tablet-width) {
      margin-bottom: 0;
    }
    &::after {
      background-image: url("../img/icon-mail.svg");
    }
  }
}

.inp-text__name {
  display: block;

  @media (min-width: $tablet-width) {
    padding-right: 17px;
  }
}

.inp-text__enter {
  width: 100%;
  font-size: 17px;
  line-height: 17px;
  padding: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  border: 0;
  border-bottom: 1px solid $black;
  color: $black;
  background-color: transparent;

  @media (min-width: $tablet-width) {
    padding-top: 0;
    padding-left: 17px;
  }

  &::placeholder {
    color: $black_30;
    font-size: 17px;
    line-height: 17px;
  }

  &:focus {
    outline: none;
  }

  &:hover {
    border-bottom: 1px solid $greeny;
  }
}
