.menu {
  position: absolute;
  left: 0;
  right: 0;
  display: none;
  text-align: center;
  font-size: 17px;
  line-height: 24px;
  font-family: $fonts_bold;
  background-color: $white;

  @include reset;

  @media (min-width: $tablet-width) {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: transparent;
  }
}

.menu__item {
  display: flex;
  flex-direction: column;

  &--bottom {
    display: none;
  }

  @media (min-width: $tablet-width) {
    flex-direction: row;

    &--top {
      order: 1;
    }

    &--middle {
      width: 100%;
      justify-content: flex-end;
    }

    &--bottom {
      display: flex;
      order: 1;
    }
  }

  @media (min-width: $desktop-width) {
    &--top {
      order: 0;
    }

    &--middle {
      width: auto;
      justify-content: flex-end;
    }

    &--bottom {
      width: 100%;
    }
  }
}

.menu__link {
  padding: 30px 44px;
  box-shadow: 0 1px 0 0 $whitetwo, inset 0 1px 0 0 $whitetwo;

  @media (min-width: $tablet-width) {
    padding: 0;
    box-shadow: none;
  }

  &--product {
    @media (min-width: $tablet-width) {
      padding-right: 25px;
      padding-top: 25px;
      font-size: 15px;
    }

    @media (min-width: $desktop-width) {
      padding: 35px 35px 35px 0;
      font-size: 17px;
    }
  }

  &--knitting {
    @media (min-width: $tablet-width) {
      padding-top: 25px;
      font-size: 15px;
    }

    @media (min-width: $desktop-width) {
      border-left: 1px solid $whitetwo;
      padding: 35px 0 35px 35px;
      font-size: 17px;
    }
  }

  &--search {
    @media (min-width: $tablet-width) {
      border-left: 1px solid $whitetwo;
      padding: 35px 40px;
      width: 0;
      font-size: 0;
      line-height: 0;
      overflow: hidden;
      color: rgba(#000000, 0);
    }

    &::before {
      content: "";
      width: 44px;
      height: 18px;
      background-image: url("../img/icon-search.svg");
      background-size: auto 100%;
      background-position: left center;
      background-repeat: no-repeat;
      display: inline-block;
      margin-left: -44px;
      position: relative;
      top: 2px;
      opacity: 0.2;

      @media (min-width: $tablet-width) {
        width: 18px;
        margin-left: -9px;
        cursor: pointer;
      }
    }
  }

  &--cart {
    @media (min-width: $tablet-width) {
      border-left: 1px solid $whitetwo;
      padding: 35px 0 35px 25px;
    }

    &::before {
      content: "";
      width: 44px;
      height: 18px;
      background-image: url("../img/icon-cart.svg");
      background-size: auto 100%;
      background-position: left center;
      background-repeat: no-repeat;
      display: inline-block;
      margin-left: -44px;
      position: relative;
      top: 2px;
      opacity: 0.2;

      @media (min-width: $tablet-width) {
        margin-left: 0;
      }
    }
  }

  &--arrival,
  &--sale {
    font-size: 15px;
    display: none;

    @media (min-width: $desktop-width) {
      display: block;
      padding-right: 60px;
      padding-top: 25px;
    }
  }

  &--delivery {
    font-size: 15px;
    font-family: $fonts;

    @media (min-width: $tablet-width) {
      padding-top: 25px;
    }

    @media (min-width: $desktop-width) {
      margin-left: auto;
      padding-top: 25px;
    }
  }


  &:hover {
    color: $black_60;
  }
}
