.reviews__wrapper {  
    margin-left: auto;
    max-width: 871px;
    position: relative;
}
.reviews__header {
  font-size: 25px;
  line-height: 30px;
  font-family: $fonts_bold;
  padding: 0;
  margin: 0 0 40px 0;
}

.reviews__text {
  font-size: 15px;
  line-height: 30px;
  margin: 0 0 40px 0;
}

.reviews__autor {
  font-size: 15px;
  line-height: 30px;
  font-family: $fonts_bold;
}

.reviews__nickname {
  font-size: 17px;
  line-height: 30px;
  color: $greyish_brown;
  margin: 0 0 40px 0;
}

.reviews__toogles {
  margin: 0 0 40px 0;
  @media (min-width: $tablet-width) {
    margin: 0;
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

.reviews__button {
  margin-bottom: 45px;
  @media (min-width: $tablet-width) {
    max-width: 175px;
    position: absolute;
    top: 0;
    right: 0;
  }
}
