.social {

}
.social__list {
	@include reset;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 30px 0 10px;
}
.social__item {
	list-style: none;
	margin-right: 10px;
	margin-left: 10px;
}